<div class="container">
  <footer class="footer">
    <small>
     <p> Copyrigth &copy;  by Gustavo Melki Leal</p>
    </small>
    <nav>
      <ul>
        <li><%= link_to "Sobre", about_path%></li>
      </ul>
    </nav>
  </footer>
</div>
